---
import { cn } from "@lib/utils"
import Container from "@components/Container.astro"
import { SITE, SOCIALS, LINKS, COURSES } from "@const"
import LogoText from "@components/LogoText.astro"
const { pathname } = Astro.url
---

<footer class="relative bg-ijo-tua border-t border-hitam text-white text-lg py-10">
  <Container size="2xl">
    <div class="flex flex-col sm:flex-row justify-center sm:justify-between gap-8">
      <div class="sm:w-1/3">
        <LogoText isDark={true} />
        <p class="text-justify opacity-85 mt-4">{SITE.DESCRIPTION}</p>
      </div>
      <nav class="flex flex-col space-y-2">
        <b class="mb-2">Links</b>
        {
          LINKS.map((LINK) => (
            <a
              href={LINK.HREF}
              class={cn(
                "opacity-85 hover:opacity-100 transition-all duration-300",
                pathname === LINK.HREF && "underline-active"
              )}
            >
              <span class="hover:underline-animate">{LINK.TEXT}</span>
            </a>
          ))
        }
      </nav>
      <nav class="flex flex-col space-y-2">
        <b class="mb-2">Courses</b>
        {
          COURSES.map((COURSE) => (
            <a
              href={COURSE.HREF}
              class={cn(
                "opacity-85 hover:opacity-100 transition-all duration-300",
                pathname === COURSE.HREF && "underline-active"
              )}
            >
              <span class="hover:underline-animate">{COURSE.TEXT}</span>
            </a>
          ))
        }
      </nav>
      <div>
        <b class="mb-2 block">Follow Us</b>
        <div class="flex gap-4">
          {
            SOCIALS.map((SOCIAL) => (
              <a
                href={SOCIAL.HREF}
                target="_blank"
                aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                class="group size-12 rounded-full p-2 items-center justify-center hover:bg-white/5 blend"
              >
                <svg class="size-full fill-white/70 group-hover:fill-white blend">
                  <use href={`/social.svg#${SOCIAL.ICON}`} />
                </svg>
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <p class="text-center mt-10">&copy; {new Date().getFullYear()} Soedirman Digital School. All rights reserved.</p>
  </Container>
</footer>
